<header>
    <nav>
        <strong>CareerPilot</strong>

        <div class="main-nav">
            <a href="{% url 'analysis_result' %}">
                CV Analysis
            </a>

            <a href="#">Jobs</a>
            <a href="#">Community</a>
        </div>

        {% if user.is_authenticated %}
            <span>Hello, {{ user.username }}</span>

            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a class="auth-button"
               href="{% url 'login' %}">
                Login
            </a>

            <a class="auth-button"
               href="{% url 'register' %}">
                Sign up
            </a>
        {% endif %}
    </nav>
</header>